@import 'style.css';

#left{
    border: 1px solid black;
    float: left;
    width: 25%;
    height: 99%;
}

#middle{
    border: 1px solid black;
    float:left;
    width: 50%;
    height: 99%;
}

#right{
    border: 1px solid black;
    float:left;
    width: 24%;
    height: 99%;
}

#board{
    width: 100%;
    height: 80%;
}

.stone{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
}

.stone:hover{
    border-color: blue;
}

.tag{
    height: 10%;
    width: 100%;
    text-align: center;
}

#exit{
  height: 5%;
  width: 12%;
  position: absolute;
  top: 90%;
  left: 5%;
}

#exit:hover{
    background-color: white;
}

.tag{
    position: relative;
    top: 3%;
    font-size: 200%;
}

#chat{
    height: 30%;
    width: 70%;
    position: relative;
    top: 5%;
    left: 5%;
    background-color: white;
    border: 2px solid black;
}

#textchat{
    display:inline-block;
    position: relative;
    top: 5%;
    left: 5%;
    background-color: white;
}

